h1 {
    color: red;
    background-color: lightblue;
    
}
body {
    background-color: green;
}
img{
    width: 10cm;
}
main {
    color:blue;
        background-color: lawngreen;
    font-size: large;

}
#aboutme {
    color: brown;

}
.me02 {
    background-color: lightseagreen;
    color: maroon;
}